<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Интернет-банкинг</title>
</head>
<body>
<h1>Список карт</h1>
<table border="1">
    <tr>
        <th>Номер карты</th>
        <th>Баланс</th>
        <th>Владелец (ID)</th>
    </tr>
    <tr th:each="card : ${cards}">
        <td th:text="${card.cardNumber}">1234-5678-9101-1121</td>
        <td th:text="${card.balance}">1000</td>
        <td th:text="${card.clientId}">1</td>
    </tr>
</table>

<h2>Загрузить файл</h2>
<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file"/>
    <button type="submit">Загрузить</button>
</form>

<h2>Карты клиента</h2>
<ul>
    <li th:each="card : ${cards}">
        <span th:text="${card.cardNumber}"></span> - <span th:text="${card.balance}"></span> BYN
    </li>
</ul>
</body>
</html>

